
{% extends 'base.html' %}

{% block title %}{% if object %}Editar Produto{% else %}Novo Produto{% endif %}{% endblock %}

{% block content %}
    <h2>{% if object %}Editar Produto{% else %}Novo Produto{% endif %}</h2>
   
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Salvar</button>
    </form>
   
    <a class="btn" href="{% url 'produto_list' %}">Voltar para a lista de produtos</a>
{% endblock %}
