{% extends 'base.html' %}
{% block title %}Listar Movimentação{% endblock %}

{% block content %}
<h2>Movimentações</h2>
<a href="{% url 'movimentacao_create' %}">Nova Movimentação</a>
<ul>
    {% for movimentacao in object_list %}
        <li>
            {{ movimentacao.produto.nome }} - {{ movimentacao.quantidade }} unidades em {{ movimentacao.data }} -
            Total: R$ {{ movimentacao.valor_total }}
            <a href="{% url 'movimentacao_update' movimentacao.pk %}">Editar</a>
            <a href="{% url 'movimentacao_delete' movimentacao.pk %}">Excluir</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
